@charset "UTF-8";

#heroContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}


/* ここが囲うボックス */
.entryBox {
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
}

.entryBox ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.entryBox li {
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.entryBox h2 {
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
}

.entryBox small {
    color: #777;
    font-size: 0.9rem;
}

.entryBox p {
    white-space: pre-wrap;
    margin-top: 0.8rem;
    line-height: 1.6;
}