<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Edit Entry</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="form-page">
  <section id="formContainer">
    <h1>Edit Entry</h1>
    <div class="entryBox">
      <form method="POST" class="diaryForm">
        <input type="text" name="title" value="{{ entry.title }}" required>
        <textarea name="content" rows="10" required>{{ entry.content }}</textarea>
        <button type="submit">Update</button>
      </form>
      <a href="/">← Back to Diary</a>
    </div>
  </section>
</body>
</html>
