<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>My Diary Entries</h1>
    <a href="/create">＋ New Entry</a>
    <ul>
        {% for entry in entries %}
        <li>
            <h2>{{ entry.title }}</h2>
            <small>{{ entry.date.strftime('%Y-%m-%d %H:%M') }}</small>
            <p>{{ entry.content }}</p>
        </li>
        {% endfor %}
    </ul>
</body>
</html>