<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quiz</title>
    <link rel = 'stylesheet' href = 'static/style.css'>
</head>
<body>
    <div class="container">
        <div class="containerBox">
            <h1>Question</h1>
            <p>{{ question }}</p>
            <form method="POST" class="btnBox">
                <button type="submit" name="answer" value="True" class="btn">○ True</button>
                <button type="submit" name="answer" value="False" class="btn">× False</button>
            </form>
        </div>
    </div>
</body>
</html>